
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/parallax.js/1.4.2/parallax.min.js"> </script>


<footer class = "footer-login footer">

         <div class = 'footer-container'>

             <div class = " col-footer first-col">

                 <span class = "footer-menu"> Menu </span>
                 <ul>
                     <li class = "menu-li menu-li-href">
                         <a class = "a-footer" href = "/sklep"> Nasze produkty  </a>
                     </li>
                     <li class = "menu-li  menu-li-href" >
                         <a class = "a-footer" href = "/o-nas"> O nas  </a>
                    </li>
                    <li class = "menu-li menu-li-href"> 
                         <a class = "a-footer" href = "/kontakt"> Kontakt </a>
                    </li>
                    <li class = "menu-li menu-li-href" >
                         <a class = "a-footer" href = "https://www.facebook.com" target = "blank"> Facebook <i class = "fab fa-facebook"> </i> </a>
                   </li>
                 </ul>

             </div>

             <div class = " col-footer ndcol">

                 <span class = "footer-menu"> Adres </span>

                 <ul>
                     <li class = "menu-li ">
                         Polska
                     </li>
                     <li class = "menu-li" >
                         Warszawa
                     </li>
                     <li class = "menu-li" >
                         00-100 Warszawa
                     </li>
                     <li class = "menu-li" >
                         ul. Złota 52 
                     </li>
                 </ul>

             </div>

             <div class = " col-footer privacy footer-login-privacy"> 
                 <span class = "footer-menu "> Polityka prywatności </span>

                 <span class = "menu-li menu-li-href"> <a href = "/polityka-prywatnosci" class = "politics-href">Kliknij tutaj, aby wyświetlić politykę prywatnośći.  </a></span>
             </div>

         </div>

</footer>

</body>
</html>

