<nav class="navbar navbar-login navbar-expand-lg navbar-light bg-light">

     <a class="navbar-brand" href="/">
         <i class="fas fa-couch logo"> </i>
         <span class = "logo-text">Strona główna</span>
     </a>

</nav>

