footer{
    background-color:#f1f2f4;
    font-size:1.1em;
    text-align:center;
    min-height:40vh;
    position:absolute;
    display:flex;
    width:100vw;
    bottom:0% !important;
    top:100%;
}

@media(max-width:992px){
     footer{
         display:block;
     }
}

